html, body, p {
  padding: 0;
  margin: 0;
}

#app {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

#app .header {
  text-align: center;
  line-height: 60px;
  font-size: 24px;
}

#app .center p img {
  width: 100%;
  vertical-align: top;
}

#app .footer {
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}